<!DOCTYPE html>
<html>
<head>
  <title>Dogs CRUD</title>
  <link rel="stylesheet" href="/assets/dogs.css" />
  <script src="/assets/htmx@2.0.1.min.js"></script>
  <script src="/assets/events.js"></script>
</head>
<body>
  <body>
    <h1>Dogs in Chapter 3</h1>

    <div
      hx-trigger="revealed, selection-change from:body"
      hx-get="/dogs/form"
    ></div>
    
    <table hx-trigger="revealed" hx-get="/dogs/table-rows" hx-target="tbody"> <thead>
      <tr>
        <th>Name</th>
        <th>Breed</th>
      </tr>
    </thead>
    <tbody></tbody>
    </table>
 </body>
</html>
