<html>
<head>
  <title>htmx demo</title>
  <link rel="stylesheet" href="/assets/styles.css" />
  <script src="/assets/htmx@2.0.1.min.js"></script>
  <script src="/assets/events.js"></script>
</head>
<body>
  <h1>Hello world</h1>
  
  <button hx-get="/version" hx-target="#version">Get Version from Cargo.toml</button>
  <div id="version"></div>

  <ul>
    <li> <a href="/dogs">Dogs example</a> </li>
    <li> <a href="/oob">Out-of-band example (p. 24-25)</a> </li>
    <li> <a href="/trigger">Event triggers example (p. 26+) </a> </li>
  </ul>
 </body>
</html>
